flask
requests
transformers[sentencepiece]

torch

langchain
tiktoken
faiss-cpu

accelerate

pinecone-client
sentence_transformers

tiktoken==0.4.0
tokenizers==0.13.3
PyPDF2
python-dotenv
pypdf

openai

asyncio
reportlab

sacremoses.